/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #105caa;
  padding: 30px 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__newsletter {
  display: inline-block;
  text-align: center;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer__item {
  margin-right: 20px;
}

.footer__link:hover .footer__icon {
  color: #fd6767;
}

.footer__icon {
  font-size: 18px;
  color: #fff;
}

.footer__news {
  position: relative;
}

.footer__input-title {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 30px;
}

.footer__input {
  min-width: 370px;
  height: 47px;
  border: none;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #fff;
  border-radius: 40px;
  padding: 10px;
  outline: none;
}

.footer__btn {
  padding: 15px;
  background-color: #105caa;
  border-radius: 40px;
  color: #fff;
  border: none;
  position: relative;
  top: -0.5px;
  left: -94px;
  text-transform: uppercase;
  font-size: 11px;
}

.footer__info {
  background-color: #fff;
  padding: 55px 0 47px 0;
}

.footer__info-title {
  font-size: 11px;
  color: #222;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.footer__info-link {
  font-size: 13px;
  color: #666;
  font-family: Roboto,HelveticaNeue,Helvetica Neue,sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.footer__info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__last {
  padding: 28px 0;
  background-color: #f0f0f0;
}

.footer__last-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__last-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #666;
  font-weight: 700;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  opacity: 0.5;
}

::-ms-input-placeholder {
  opacity: 0.5;
}

::placeholder {
  opacity: 0.5;
}

@media screen and (max-width: 850px) {
  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .footer__info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__part {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 655px) {
  .footer__news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__btn {
    position: absolute;
    display: inline;
    padding: 15px;
    left: 280px;
    top: 29px;
  }
  .footer__input-title {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .footer__last-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__last-text {
    text-align: center;
  }
  .footer__last-img {
    width: 240px;
    height: 25px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 370px) {
  .footer__btn {
    position: absolute;
    display: inline;
    padding: 15px;
    left: 55px;
    top: 29px;
  }
  .footer__input {
    min-width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */