// COLORS
$body-color: #fff;
$color-primary: #333;
$header-color:#105caa;
$nav-color:#0c549f;
$btn-back-color:#1577dd;
$from-btn: #da465b;
$title: #010101;
$text:#424242;






// Container
$width-container: 1200px;
$p-container: 15px;


// FONTS
$font-stack: 'Roboto', sans-serif;
